<div class="rowOne">
  <div class="container">
    <h1>Write review</h1>

    <%= form_for @rental, url: drone_rental_path(@drone, @rental) do |f| %>
    <div>
      <%= f.label :review %> 
      <%= f.text_field :review %>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</div>