/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/css?family=Quicksand);
@import url(//fonts.googleapis.com/css?family=Arvo);

html{
  background: #ffffff url("/images/background.jpg") fixed;
  background-size: cover;
}

body {
  font-family: 'Quicksand';
}

.header {
  width: 100%;
  text-align: center;
  padding: 70px 0px 0px 0px;
}

.footer {
  background: #424141;
  color: white;
  width: 100%;
  height: 20px;
  padding: 15px 0px 35px 0px;
  text-align: center;
  bottom: 0px;
}

.login div.btn > a{
  color: white;
}

.login div.btn > a:hover {
  font-size:20px;
  color: #D6DCFF;
}

.nav>li{
  display: inline-block;
}

.nav>li>a:link {
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  width: 220px;
  margin: 0px 5px;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 180px;
    margin-left: 30px;
}

.rowOne {
  margin-top: 120px;
  background: rgba(255,255,255,0.9);
  width: 100%;
  padding: 30px 0px;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.27);
}

.rowTwo {
  background: rgba(179, 179, 179, 0.93);
  width: 100%;
  padding: 30px 0px;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.27);
}

.btn {
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 10px;
  border: 3px solid white;
}

.form {
  margin: 20px 0px;
  text-align: center;
}

label {
  color: white;
  font-size: 20px;
}

input {
  margin:10px;
}

body {
  background: none;
}

#brand {
  font-size: 50px;
  color: #2F3838;
  font-family: 'Lobster';
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #003D3D;
  font-family: 'Arvo';
  margin: 0px 0px 30px 0px;
  text-shadow: 1px 1px 5px white;
}

h3 {
  color: white;
  text-shadow: 1px 1px 3px black;
}

.profilepic {
  border: 10px solid black;
  height: 250px;
  display: inline-block;
  float: left;
}

.info {
  float:left;
  padding-left: 50px;
}

.review {
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  margin: 5px;
  background: rgba(255,255,255,0.9);
}

.table {
  width: 90%;
  margin: 0 auto;
}
th {
  font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  background: #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 6px 6px 12px;
}

td {
  background: white;
  padding: 6px 6px 6px 12px;
  color: #6D929B;
  text-align: center;
}
